<div class="row">
  <div class="col-md-4 cold-md-offset-2" style="color: #E5E5BE">
    <% if params[:plan] == '2' %>
      <h1>Pro Account</h1>
      <ul>
        <li>Upload Profile</li>
        <li>Upload Pics</li>
        <li>Search Profiles</li>
        <li>Read User Articles</li>
        <li>Post Articles</li>
        <li>Post Status Updates</li>
      </ul>
      <h2>Plus...</h2>
      <ul>
        <li>Contact other Users</li>
        <li>View Counter</li>
        <li>Link to Crowdfunding</li>
        <li>Upload more Pics</li>
        <li>Upload Videos</li>
      </ul>
      <% else %>
      <h1>Basic Account</h1>
      <ul>
        <li>Upload Profile</li>
        <li>Search Profiles</li>
        <li>Read User Articles</li>
        <li>Post Articles</li>
        <li>Post Status Updates</li>
      </ul>
      <% end %>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <div class="well">
      <h2>Sign up</h2>
      <% if params[:plan] =='2' %>
        <%= render "pro_form" %>
      <% else %>
        <%= render "basic_form" %>
      <% end %>
      </div>
    </div>
  </div>
